# Local or Serverless PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:password123@localhost:5432/toeicmaster?schema=public"

# NextAuth Security Configuration
NEXTAUTH_SECRET="your-32-character-jwt-security-secret-key-goes-here"
NEXTAUTH_URL="http://localhost:3000"
